#root{
  min-height: 100vh;
  
}
.card{
  height: 330px;
}
.img{
  margin: 0 auto;
}
#basket{
  z-index: 100;
  background-color: white;
  
}
.info{
  
  border-width: 1px;
  min-height: 60vh;
  border-radius: 5px;
  
  
}
.basketCard{
  height: 120px;
}
.buttons{
  display: flex;
  flex-direction: column;
}
.buttons>button{
  border: none;
  border-radius:10%;
  font-size:20px
}